/* commenti! */
 .oriz {
	display: flex;
	flex-wrap: wrap;
	}

/* link (copiato da SOGNO.CSS)*/
  .a:link{
	color: #ffff55;
	text-decoration: none; 
	font-weight: bold;
	border-bottom: 1px solid #ffff55;
	}
  
  /* link visitato */
  .a:visited {
	color: orange;
	text-decoration: none;
	/* nasconde la sottolineatura per link già cliccati*/
	}
	
  /* mouse sul link */
  .a:hover {
	color: yellow;
	text-decoration: none;
	}
  
  /* link selezionato */
  .a:active {
	color: pink;
	 text-decoration: none;
	}

	  
	.html {
	  background-color: #002;
	  color: white;
	  font-family: sans-serif;
	  line-height: 1.5;
	  margin: 1%;
	  letter-spacing: 0.04em;
	  word-spacing: 0.04em;
	  
	  image-rendering: pixelated;
	  image-rendering: -moz-crisp-edges;
	  image-rendering: crisp-edges;
	  
	  }
	  
	.h1 {  
	  text-align: center;
	  }
	
	.img {
	  max-width: 100%;
	  height: auto;
	  margin: auto;
	  }
	  
	.iframe {
	max-width: 100% !important;
		width: auto !important;
		height: auto !important;
		
	  position:absolute;
	  top:0;
	  left:0;
	  right:0;
	  
	  }
		
	.scuro {
	  background: black;
	  display: inline;
	  filter: brightness(0%);
	  transition: 1s;
	  }
	.scuro:hover{
	  display: inline;
	  filter: none;
	  transition: 3s;
	  }
	  
	  
	footer {  
	  text-align: center;
	  }
/* codice */
.codice {
	border: 1px solid white;
	font-family: monospace;
	padding: 1%;
  }	

/* evidenziatore */
.e {
  background: #304000;
  color:white;
  display: inline;
  }	 

.b {
 color: skyblue
  }
 
.v {
  color: lightgreen;
  }

.g {
  color: lightyellow
  }
  
.ar {
  color: orange;
  }
  
	.flex {display: flex;
	flex-wrap: wrap;
	}
	
	.bolla{
	  flex-grow: 1;
	background: rgba(0, 20, 0, 0.5);
	border-radius: 5px;
	border: 1px solid darkgreen;
	margin: 0.5%;
	padding: 1%;
}
  
  .h1 {
  color: lightgreen;
  text-align: center;
  }

.scatolina {
   background: rgba(0, 0, 0, 0.5); 
  color: skyblue;
  border-radius: 5px;
  border: 1px solid cyan;
  overflow: auto;
  
  margin-top: 1%;
  margin-bottom: 1%;
	padding: 1%
  } 
  
.scatola { 
	background: rgba(0, 0, 0, 0.5);
	color: white;
	border-radius: 5px;
	border: 1px solid lightgreen;
	overflow: auto;
  margin-top: 2%;
  margin-bottom: 2%;
	padding: 2%;
	overflow:auto;
  }
  

  .grigio {
   background: #222222; 
  color: white;
  border-radius: 5px;
  border: 3px solid red;
  overflow: auto;
  
  margin-top: 1%;
  margin-bottom: 1%;
	padding: 2%
  }
  
  .fotoblu {
  background: black;
  overflow: auto;
  
  margin: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  
  padding: 2%;
  border-radius: 5px;
  border: 1px solid cyan;
   max-width: 90%;
   max-width: 800px
	}
	
   
 .forma {
   background: black;
  color: SKYBLUE;
  overflow: auto;
  
  margin: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  
  padding: 2%;
  border-radius: 5px;
  border: 1px solid cyan;
   max-width: 700px;
   }


  summary {
	background: rgba(00, 100, 50, 0.5);
	font-weight: bold;
	}
	
  details {
  	border: 1px solid rgba(00, 100, 50, 0.5);
  	border-radius: 3px;
  	margin: 1px;
	}
	
.diam {list-style-type: '🔶 ';
margin-left: -1em;}

/*details[open] > .diam {					list-style-type: '💠 ';}*/
.diam li:hover, .diam li:focus, .diam li:active { list-style-type: '💠 ';}

.diam ul {list-style-type: '🔸';
margin-left: -1em;}

/*.diam details[open] > .diam ul {					list-style-type: '🔹 ';}*/
.diam ul li:hover, .diam ul li:focus, .diam ul li:active { list-style-type: '🔹 ';}



.pad {
padding: 1%;
}


.mar {
margin: 1%;
}


.verdolina
	{
	background: rgba(0, 30, 0, 0.5); 
	padding: 4px;
	border-radius: 5px;
	border: 2px solid rgba(00, 50, 00, 50);}

input , textarea {
background: black;
color: inherit;
font-weight: bold;
}

::placeholder {
	 color: #aaa;
	 opacity: 1;
}

.campo {
	background: rgba(00, 20, 00, 0.5);
	border: 1px solid rgba(00, 50, 00, 50);
	margin: 0.4%;
	flex-grow: 1;flex-grow: 1;
}


::selection {
  color: #110;
  background: #eff;
}

/* TEMA SCURO

*{
background-color: #234 !important
color: #cba !important 
}
 
+ controlla i link */


/*
.prisma {
    position: relative;
    padding: 20px;
    text-align: left;
    border: 1px solid lightgreen;
}

.prisma .marco {
    background: rgba(0, 0, 0, 0.5);
    height: 1px;
    position: absolute;
    top: -1px;
    padding: 0 20px;
    color: lightgreen;
    overflow: visible;
}

.prisma .marco span {
    top: -1.5em;
    background: #002;
    position: relative;
    vertical-align: middle;
    display: inline-block;
    overflow: visible;
    padding-left: 1px;
    padding-right: 1px
}
*/

