/* Default variables values 

@media (prefers-color-scheme: dark),  {
:root {
	--testo: white;
	--sfondo: #002;
	--scatola: rgba(0, 0, 0, 0.5);;
	--allaccio: orange;
	--allaccio-v: yellow;
	--verde-t: lightgreen;
	--azzurro-t: lightblue;
}
}*/

:root {
	--testo: white;
	--testo-sel: #024;
	--sfondo: #002;
	--sfondo-sel: #eff;

	--scatola: rgba(0, 0, 0, 0.5);
	--scatola-verde: rgba(0, 20, 0, 0.5);
	--allaccio: yellow;
	--allaccio-v: orange;
	--allaccio-r: red;
	--verde-t: lightgreen;
	--verde: darkgreen;
	--azzurro-t: lightblue;
	--azzurro: #056 ;
	}

:root:has(#chiara:checked) {
	--testo: black;
	--testo-sel: #eef;
	--sfondo: #eec;
	--sfondo-sel: #024;

	--scatola: rgba(250, 250, 255, 0.6);
	--scatola-verde: rgba(210, 220, 210, 0.5);
	--allaccio: blue;
	--allaccio-v: purple;
	--allaccio-r: red;
	--verde-t: darkgreen;
	--verde: rgb(180, 230, 180);
	--azzurro-t: #056;
	--azzurro: lightblue;

}

/* commenti! */
 .oriz {
	display: flex;
	flex-wrap: wrap;
	}


/* link (copiato da SOGNO.CSS)*/
  a:link{
	color: var(--allaccio);
	text-decoration: none; 
	font-weight: bold;
	border-bottom: 1px solid var(--allaccio);
	}
  
  /* link visitato */
  a:visited {
	color: var(--allaccio-v);
	text-decoration: none;
	/* nasconde la sottolineatura per link già cliccati*/
	}
	
  /* mouse sul link */
  a:hover {
	color: var(--allaccio-v);
	text-decoration: none;
	}
  
  /* link selezionato */
  a:active {
	color: (var(--allaccio-r));
	text-decoration: none;
	}

del {text-decoration: wavy;
color:  (var(--allaccio-r));
text-decoration-line: underline;
text-decoration-color: red;}

del::before,
del::after {
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
del::before {
  content: "[cancellato:] ";
}

ins {text-decoration: none;
color: var(--allaccio-r);}
ins::before,
ins::after {
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
ins::before {
  content: " [aggiunto:] ";
}

rt {font-size: smaller;}
	  
	.html {
	  background-color: var(--sfondo);
	  color: var(--testo);
	  font-family: sans-serif;
	  line-height: 1.5;
	  margin: 1%;
	  letter-spacing: 0.04em;
	  word-spacing: 0.04em;
	  
	  image-rendering: pixelated;
	  image-rendering: -moz-crisp-edges;
	  image-rendering: crisp-edges;
	  
	  }
	  
	.h1 {  
	  text-align: center;
	  }
	
	.img {
	  max-width: 100%;
	  height: auto;
	  margin: auto;
	  }
	  
	.iframe {
	max-width: 100% !important;
		width: auto !important;
		height: auto !important;
		
	  position:absolute;
	  top:0;
	  left:0;
	  right:0;
	  
	  }
		
	.scuro {
	  background: black;
	  display: inline;
	  filter: brightness(0%);
	  transition: 1s;
	  }
	.scuro:hover{
	  display: inline;
	  filter: none;
	  transition: 3s;
	  }
	  
	  
	footer {  
	  text-align: center;
	  }
/* codice */
.codice {
	border: 1px solid white;
	font-family: monospace;
	padding: 1%;
  }	
  
pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/* evidenziatore */
.e {
  background: #304000;
  color:white;
  display: inline;
  }	 

.b {
 color: skyblue
  }
 
.v {
  color: var(--verde-t);
  }

.g {
  color: lightyellow
  }
  
.ar {
  color: orange;
  }
  
	.flex {display: flex;
	flex-wrap: wrap;
	}
	
	.bolla{
	  flex-grow: 1;
	background: var(--scatola);
	border-radius: 5px;
	border: 1px solid var(--verde);
	margin: 0.5%;
	padding: 1%;
}
  
  .h1 {
  color: var(--verde-t);
  text-align: center;
  }

.scatolina {
   background: var(--scatola); 
  color: var(--azzurro-t);
  border-radius: 5px;
  border: 1px solid var(--azzurro-t);
  overflow: auto;
  
  margin-top: 1%;
  margin-bottom: 1%;
	padding: 1%
  } 
  
.scatola { 
	background: var(--scatola);
	border-radius: 5px;
	border: 1px solid var(--verde-t);
	overflow: auto;
  margin-top: 2%;
  margin-bottom: 2%;
	padding: 2%;
	overflow:auto;
  }
  

  .grigio {
   background: var(--sfondo); 
  color: var(--testo);
  border-radius: 5px;
  border: 3px solid red;
  overflow: auto;
  
  margin-top: 1%;
  margin-bottom: 1%;
	padding: 2%
  }
  
  .fotoblu {
  background-color: var(--scatola);
  color: var(--testo);
  overflow: auto;
  
  margin: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  
  padding: 2%;
  border-radius: 5px;
  border: 1px solid cyan;
   max-width: 90%;
   max-width: 800px;
	}
	
.cartinca {	
	flex-grow: 1;
	max-width: 99%;

	margin: auto;
	align-content:center;
	}

.segno img {
	width:max-content;
	align-self:center;
	}

abbr.dattil {text-decoration: none;}
.dattil .segno {flex-direction: row;}
.segno hr {
  display: inline;
  width: 80%
}

p.segno, div.segno {display:flex;
flex-direction: column;
flex-wrap: wrap;
background-color: white;
border-left: 1px solid var(--testo);
border-right: 1px solid var(--testo);
width: max-content;
max-height: 100%;}

.traspa {width:0px; height: 0px;
		overflow: hidden;}

 .forma {
  background-color: var(--scatola);
  color: var(--testo);
  overflow: auto;
  
  margin: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  
  padding: 2%;
  border-radius: 5px;
  border: 1px solid cyan;
   max-width: 700px;
   }


  summary {
	background: rgba(00, 100, 50, 0.5);
	font-weight: bold;
	}
	
  details {
  	border: 1px solid rgba(00, 100, 50, 0.5);
  	border-radius: 3px;
  	margin: 1px;
	}
	
.diam {list-style-type: '🔶 ';
margin-left: -1em;}

/*details[open] > .diam {					list-style-type: '💠 ';}*/
.diam li:hover, .diam li:focus, .diam li:active { list-style-type: '💠 ';}

.diam ul {list-style-type: '🔸';
margin-left: -1em;}

/*.diam details[open] > .diam ul {					list-style-type: '🔹 ';}*/
.diam ul li:hover, .diam ul li:focus, .diam ul li:active { list-style-type: '🔹 ';}



.pad {
padding: 1%;
}


.mar {
margin: 1%;
}


.verdolina
	{
	background: var(--scatola-verde) ; 
	padding: 4px;
	border-radius: 5px;
	border: 2px solid var(--verde);}

input , textarea {
background: var(--sfondo);
color: var(--testo);
font-weight: bold;
}

form [required] {
border: 2px solid red;
}



::placeholder {
	 color: #aaa;
	 opacity: 1;
}

.campo {
	border: 1px solid var(--verde-t);
	margin: 0.4%;
	flex-grow: 1;flex-grow: 1;
}


::selection {
  color: var(--testo-sel);
  background: var(--sfondo-sel);
}


@font-face {
	font-family: "seli kiwen asuki";
	src: url(./caratteri/sitelenselikiwen/sitelenselikiwenasuki.eot);
	src: url(./caratteri/sitelenselikiwen/sitelenselikiwenasuki.ttf) format("truetype");
}

@font-face {
	font-family: "seli kiwen juniko";
	src: url(./caratteri/sitelenselikiwen/sitelenselikiwenjuniko.eot);
	src: url(./caratteri/sitelenselikiwen/sitelenselikiwenjuniko.ttf) format("truetype");
}

 :not(:root:has(#sitelen:checked))  [lang="tok"] {
 font-family: "seli kiwen asuki", sans-serif;
 	font-size: larger;
 	font-weight: normal;
 	letter-spacing: 0;
 }
 
 .ju {
	font-family:  sans-serif;
 	letter-spacing: 0;
 }

 #impostazioni {
	/*display: flex;*/
	justify-content: flex-end;}


/* [lang="en"] {
 font-family: "seli kiwen juniko", sans-serif;
  	font-size: inherit;
 	letter-spacing: 0;
 }

    */
/* TEMA SCURO

*{
background-color: #234 !important
color: #cba !important 
}
 
+ controlla i link */


/*
.prisma {
    position: relative;
    padding: 20px;
    text-align: left;
    border: 1px solid lightgreen;
}

.prisma .marco {
    background: rgba(0, 0, 0, 0.5);
    height: 1px;
    position: absolute;
    top: -1px;
    padding: 0 20px;
    color: lightgreen;
    overflow: visible;
}

.prisma .marco span {
    top: -1.5em;
    background: #002;
    position: relative;
    vertical-align: middle;
    display: inline-block;
    overflow: visible;
    padding-left: 1px;
    padding-right: 1px
}
*/

