
@font-face {
	font-family: "Adys";
	src: url(../caratteri/ADYS/ADYSV6-Regular.eot);
	src: url(../caratteri/ADYS/ADYSV6-Regular.ttf) format("truetype");
}

@font-face {
	font-family: 'Adys';
	src: local('ADYSV6');
	src: url(../caratteri/ADYS/ADYSV6-Bold.eot);
	src: url(../caratteri/ADYS/ADYSV6-Bold.ttf) format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "OpenDyslexic";
	src: local('OpenDyslexic');
	src: url(../caratteri/open_dyslexic/OpenDyslexic-Regular.otf);
}


:root {
	--testo: white;
	--testo-sel: #024;
	--sfondo: #002;
	--sfondo-sel: #eff;

	--scatola: rgba(0, 0, 0, 0.5);
	--scatola-verde: rgba(0, 20, 0, 0.5);
	--allaccio: yellow;
	--allaccio-v: orange;
	--allaccio-r: red;
	--verde-t: lightgreen;
	--verde: darkgreen;
	--azzurro-t: lightblue;
	--azzurro: #056 ;

	--dettagli: rgba(00, 100, 50, 0.5);
	}

:root:has(#chiara:checked) {
	--testo: black;
	--testo-sel: #eef;
	--sfondo: #eec;
	--sfondo-sel: #024;

	--scatola: rgba(250, 250, 255, 0.6);
	--scatola-verde: rgba(210, 220, 210, 0.5);
	--allaccio: blue;
	--allaccio-v: purple;
	--allaccio-r: red;
	--verde-t: darkgreen;
	--verde: rgb(180, 230, 180);
	--azzurro-t: #056;
	--azzurro: lightblue;

	--dettagli: rgba(50, 200, 90, 0.5);

}

/* link (copiato da SOGNO.CSS)*/
  a:link{
	color: var(--allaccio);
	text-decoration: none; 
	font-weight: bold;
	border-bottom: 1px solid var(--allaccio);
	}
  
  /* link visitato */
  a:visited {
	color: var(--allaccio-v);
	text-decoration: none;
	/* nasconde la sottolineatura per link già cliccati*/
	}
	
  /* mouse sul link */
  a:hover {
	color: var(--allaccio-v);
	text-decoration: none;
	}
  
  /* link selezionato */
  a:active {
	color: (var(--allaccio-r));
	text-decoration: none;
	}


.centro{
  text-align:center;
}

html	{
	background: var(--sfondo);
	color: var(--testo);
	font-family: "Adys", sans-serif;
	}
html.greca{font-family: sans-serif;}




/* a {
  position: relative;
}
a[href*="://"]:after, a[href^="//"] {
  content: url(https://en.wikipedia.org/w/skins/Vector/resources/skins.vector.styles/images/link-external-small-ltr-progressive.svg);
  width: 1ch;
  height: 1ch;
  display: inline-block;
  position: absolute;
  top: -0.5ch;
}


<img lang=it src="https://en.wikipedia.org/w/skins/Vector/resources/skins.vector.styles/images/link-external-small-ltr-progressive.svg" alt="Link Esterno">
*/




details {
  padding: 1px;
  display: inline;
  min-width: 99%;
    border-radius: 2px;
}

summary {
  padding: 1px;
  border-radius: 2px;
  cursor: pointer;
  border: 1px solid rgba(100, 100, 100, 0.2);
}

.niente {list-style-type: ' ';}
details[open] > .niente {
  list-style-type: inherit;
}

summary:hover, summary:focus, summary:active, .cd:hover, .cd:focus, .cd:active {
filter: saturate(250%) ;
filter: contrast(170%);
filter: drop-shadow(1px);
border: 1px solid gray;
}

.mini {
display: block;
font-size: 1.17em;
margin-top: 0.5em;
margin-bottom: 0.5em;
margin-left: 0;
margin-right: 0;
font-weight: normal;}


h4 { margin: 0.5%;}

.mar { margin: 1%;}

.pad {padding:1%}

.mar-lati { margin-left: 2%;
	margin-right: 2% }

.flesso{display: flex; 	flex-wrap: wrap;}
.bolla{flex-grow: 1; margin:1px;}

figure {margin:1px;}

ul li {
      image-rendering: pixelated;
      image-rendering: -moz-crisp-edges;
      image-rendering: crisp-edges;
      margin-left: 0em;
}


ol li {  margin-left: -1em;}
.no {padding-left: 0em;
  list-style-position: inside;
}


.o {list-style-image: url(https://www.splitbrain.org/_static/ico/ledicons/ico/page_white_world.png);}

.asp {list-style-image: url(https://www.splitbrain.org/_static/ico/ledicons/ico/wait.png);}

.w {list-style-type: '🎥 ' }

.c {list-style-type: '🌟 ';

}

.spazio{
margin-top: 0.5em;}

.cd {list-style-type: '💿 ';}

.dvd {list-style-type: '💿 ';
margin-left: -1em;
margin-top: 0.5em}


details[open] > .dvd {list-style-type: '📀 ';}
.dvd:hover, .dvd:focus, .dvd:active {
list-style-type: '📀 ';}

.menu::before { content: '📁 ';}
details[open] > .menu::before {content: '📂 ';}


.note {list-style-type: '🎶 ';}
details[open] > .dvd {list-style-type: '🎵 ';}
.note:hover, .note:focus, .note:active {
list-style-type: '🎵 ';}

.play {list-style-image: url(https://www.splitbrain.org/_static/ico/ledicons/ico/doc_music.png)}

.cassetta { list-style-type: '📼 ';}

.lib {list-style-type: '📘 ';}
details[open] > .lib {list-style-type: '📖 ';}



 .embed-container{ position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; }
 .embed-container iframe,
 .embed-container object,
 .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }



/*ho fatto troppe classi... 3 per ogni pagina*/
.v, .gri, .s, .g, .z, .az {
  overflow: auto;
  padding: 0.5%;
  margin: 1px;
  border-radius: 2px;
}

.z {
border: 2px solid skyblue;
background: rgba(100, 200, 230, 0.2);
}

.az {
border: 1px solid skyblue;
background: rgba(100, 200, 230, 0.1);
max-width:100%;
}

.az:hover, .az:focus, .az:active {
  border: 1px solid lightblue;
}

.anan {
	border: 2px solid #A9C400;
	background: rgba(200, 150, 20, 0.1);
}

.asso {
	border: 1px solid green;
	background: rgba(200, 150, 20, 0.1);}

.asso:hover, .asso:focus, .asso:active {
  border: 1px solid #21FF00;
  background: rgba(200, 150, 20, 0.2);
}

.v {
border: 2px solid purple;
background: rgba(200, 20, 70, 0.1);
}

.vi {
 border: 1px solid purple;
 background: rgba(200, 20, 70, 0.1);
}

.vi:hover, .vi:focus, .vi:active {
  border: 1px solid violet;
  background: rgba(200, 20, 70, 0.2);
}

.rubino {
overflow: auto;
padding: 0.5%;
 border: 2px solid darkred;
 background: rgba(250, 70, 70, 0.1);
}

.rus {
border: 1px solid darkred;
border-radius: 2px;
background: rgba(250, 70, 70, 0.1);
}
.rus:hover, .rus:focus, .rus:active {
  border: 1px solid red;
  background: rgba(250, 70, 70, 0.2);
}

.ro {
 border: 1px solid red;
 background: rgba(230, 0, 0, 0.1);
}


.gri {
border: 2px solid darkgray;
background: rgba(60, 60, 60, 0.2);
}

.grigio {
 border: 1px solid gray;
 background: rgba(60, 60, 60, 0.4);
}

.grigio:hover, .grigio:focus, .grigio:active {
border: 1px solid white;}

.s {
border: 2px solid darkorange;
background: rgba(200, 200, 100, 0.2);
}


.gi:hover, .gi:focus, .gi:active {
  border: 1px solid yellow;
  background: rgba(200, 200, 100, 0.2)
}


.g {
border: 2px solid darkgreen;
background: rgba(0, 50, 0, 0.1);
}

.ve {
 border: 1px solid darkgreen;
 background: rgba(0, 50, 0, 0.05);
}

.ve:hover, .ve:focus, .ve:active {
  border: 1px solid lightgreen;
  background: rgba(00, 250, 00, 0.1);
}

.gi {
  border: 1px solid goldenrod;
  background: rgba(200, 200, 70, 0.1);
}

/* gi è parente di giallo, ma deve stare sotto ve per 
far funzionare il trucchetto di tmoi.html con quell'unica canzone dorata*/



h1 {text-align:center;}

.bordo {border: 1px solid gray}

hr {color: darkgreen}


.codice {
font-family: monospace;
color: white;
background: #222222 ;
padding: 1%;
}

pre {margin: 0.5%;
font-family: "Roboto Mono",  "DejaVu Sans Mono", monospace, sans-serif;
/*
    white-space: pre-wrap;      
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;       
    white-space: -o-pre-wrap;    
    word-wrap: break-word;     */
 /*  Since CSS 2.1 *//*Mozilla, since 1999*/ /*Opera 4-6 *//*Opera 7 *//*Internet Explorer 5.5+*/ 
}

.rosa {
filter: saturate(100%) ;
filter: contrast(90%);
filter: drop-shadow(0px);

border-radius: 1em
}

.rosa:hover, .rosa:focus, .rosa:active {
filter: saturate(250%) ;
filter: contrast(130%);
filter: drop-shadow(1px);

}



